@import url('https://fonts.googleapis.com/css?family=Poppins');


.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

h1{
  color: #007690 ;
  font-family: 'Poppins';
  font-size: 250%;
}

h4{
  margin-top: 5%;
  font-weight: bold;
}

input{
  border-radius: 40px;
}



/* B O T Ó N */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  position: relative;
  border-radius: 30px;
  border: 1px solid #4bb6b7;
  background-color: #4bb6b7;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  margin: 10x;
  padding: 12px 80px;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-top: 3%;
	overflow: hidden;
	cursor: pointer;
	box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	transition: all ease 0.5s;
	background:#4bb6b7;
}

button:after,
button:before{
	width: 80px;
	height: 200px;
	content: '';
	display: block;
	background: rgba(255,255,255,0.5);
	transform: rotate(45deg);
	top: -80px;
	position: absolute;
	transition: none;
	right:-45%;
	cursor: pointer;
    letter-spacing: 3px;
}

button:before{
	left: -48%;
}

button:hover{
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background:#147788;
    letter-spacing: 3px;
}

button:hover:after,
button:hover:before{
	transform: rotate(45deg), scaleX(130%);
	background: rgba(255,255,255,0.1);
	transition: all ease 0.5s;
}

button:hover:after{
	right: 130%;
}

button:hover:before{
	left: 130%;
}

