<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-50">

      <div class="col-md-8 col-lg-7 col-xl-5">
        <img src="../../../assets/login1.png"
          class="img-fluid" alt="Phone image">
      </div>

      <div class="col-md-8 col-lg-7 col-xl-5 ">

        <form>
          <div class="divider d-flex align-items-center my-4 mb-4">
            <h1 class="text-center fw-bold mx-3 mb-0 ">Bienvenido</h1>
          </div>

          <!--CORREO ELECTRONICO-->
          <div class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control"  placeholder="Usuario"/>
          </div>

          <!--CONTRASEÑA-->
          <div class="form-outline mb-4">
            <input type="password" id="form3Example4" class="form-control" placeholder="Contraseña"/>
          </div>

          <!--BOTON INGRESAR-->
          <div class="button-container">
            <button  class="btn btn-secondary btn-lg btn-block mb-4" >INGRESAR</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</section>
