<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
      <a class="navbar-brand" href="#page-top">SOPORTE TÉCNICO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars ms-1"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
              <li class="nav-item"><a class="nav-link" href="#services">Generar Reporte</a></li>
              <li class="nav-item"><a class="nav-link" href="#portfolio">Cerrar sesión</a></li>
          </ul>
      </div>
  </div>
</nav>
<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <h1>SOPORTE TÉCNICO</h1>
    <h5>JURISDICCION SANITARIA NO.III</h5>

  </div>
</header>
