<!-- CARDS-->
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>




<!--IMPRESORA-->
<!--BOTON INGRESAR-->
<div class="button-container" data-bs-toggle="modal" data-bs-target="#feedbackModal">
  <button  class="btn btn-secondary btn-lg btn-block mb-4" >impresora</button>
  </div>

  <!--MODAL IMPRESORA-->
  <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

      <!--BOTON PARA CERRAR MODAL-->
      <div class="containermodel">
        <div class="modal-header">
          <button class="btn-close btn-close-white"  data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>

          <div class="modal-body border-0 p-4">
            <!--IMAGEN DEL MODAL-->
            <div class="imagencontainer">
              <img src="../../../assets/impresora.png" alt="" width="20%">
              <h3>Impresora</h3>
            </div>

            <!--FORMULARIO-->
              <form id="contactForm" data-sb-form-api-token="API_TOKEN">

                <!-- HOJA -->
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Se atorra la hoja
                  </label>
                </div>

                <!-- DESVINCULACION -->
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                    Desvinculación
                  </label>
                </div>

                <!-- EQUIPO NUEVO -->
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                  <label class="form-check-label" for="exampleRadios3">
                    Equipo nuevo
                  </label>
                </div>
                  <!-- Message input
                  <div class="form-floating mb-3">
                      <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                      <label for="message">Message</label>
                      <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                  </div>-->

                  <!--BOTON INGRESAR-->
                  <div class="button-container" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                    <button  class="btn btn-secondary btn-lg btn-block mb-4" >ENVIAR</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
  </div>


