@charset "UTF-8";



h1{
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h3{
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h5{
  font-size: 1.25rem;
  margin-bottom: 2rem;
  font-weight: 400;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


button{
  background-color: #48B7CF;
  border-radius: 30px;
  /*box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); /* Agrega una sombra */
  font-weight: bold;
  padding-left: 8%;
  padding-right: 8%;
}

.imagencontainer{
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
